.category-products-page {
  width: 100%;
  height: 100%;
}

.category-products-page-content {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 100%;
  margin: 0 auto;

  color: #123026;
}

.title-section {
  width: 100%;
  height: 100%;
}

.category-products-section {
  width: 100%;
  height: 100%;
}

.category-products-page-products-wrapper {
  width: 100%;
  height: 100%;

  margin: 0 0 2rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
}

.category-products-page-product-card-wrapper {
  width: 100%;
  height: 100%;
}
.page-navigation-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
}

@media screen and (max-width: 850px) {
  .category-products-page-products-wrapper {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
