.App {
  text-align: center;
}

.login-to-access {
  font-size: 10px;
  color: rgb(128, 128, 128);
}

/* how to make somthing move */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
