body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* general styles */
.font-0 {
  font-family: "Roboto", sans-serif;
}

.font-1 {
  font-family: "Kosugi Maru", sans-serif;
}

.font-2 {
  font-family: "Sarala", sans-serif;
  font-weight: 700;
}

.font-3 {
  font-family: "Gabarito", sans-serif;
  font-weight: 400;
}

.font-4 {
  font-family: "Russo One", "Oswald", sans-serif;
}

.font-5 {
  font-family: "Fira Sans", sans-serif;
}

.font-6 {
  font-family: "Oswald", sans-serif;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  width: fit-content;

  cursor: pointer;
}

.button-wrapper .button-green {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: #123026;
  color: #fff;
  border: none;
  border-radius: 5px;

  font-size: 1.25rem;
  font-weight: 400;

  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-green:hover {
  background-color: rgb(16, 42, 33);
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-green:active {
  background-color: #0d1a13;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-white {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: #fff;
  color: #123026;
  border: none;
  border-radius: 5px;

  font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-white:hover {
  background-color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-white:active {
  background-color: #e1e1e1;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-border-green {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: transparent;
  color: #123026;
  border: 2px solid #123026;
  border-radius: 5px;

  font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-border-green:hover {
  background-color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}

.button-wrapper .button-border-green:active {
  background-color: #e1e1e1;
  transition: all 0.2s ease-in-out;
}

.login-to-access {
  font-size: 10px;
  color: rgb(128, 128, 128);
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
